<!DOCTYPE html>
<html>
<head>
    <title>A単adir Datos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>A単adir Datos</h1>
        <form asp-controller="Usuario" asp-action="anadirDonantes" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="apellidos">apellido:</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" required>
            </div>
            <div class="form-group">
                <label for="tipo_sangre">Tipo de Sangre:</label>
                <input type="text" class="form-control" id="tipo_sangre" name="tipo_sangre">
            </div>
            <div class="form-group">
                <label for="anio_nacimiento">a単o de nacimiento:</label>
                <input type="date" class="form-control" id="anio_nacimiento" name="anio_nacimiento" required>
            </div>
            <div class="form-group">
                <label for="donacion_realizada">多realizo la donacion ya?:</label>
                <select class="form-control" id="donacion_realizada" name="donacion_realizada" required>
                    <option value="1">si</option>
                    <option value="0">no</option>
                </select>
            </div>
         
          
            
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
