@using Usuario.Models
@model UsuarioViewModel

<h2>Editar Usuario</h2>

<form asp-controller="Usuario" asp-action="Editar" method="post">
    <input type="hidden"   asp-for="id_usuario" />


    <label for="curp">CURP:</label>
    <input type="curp" id="curp" name="curp" asp-for="curp"><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="text" id="contrasena" name="contrasena" asp-for="contrasena"><br><br>


    <label for="nombre">rol:</label>
    <input type="text" id="rol" name="rol" asp-for="rol"><br><br>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
