@using Usuario.Models
@model UsuarioViewModel

<h2>Editar Usuario</h2>

<form asp-controller="Usuario" asp-action="Editar" method="post">
    <input type="hidden" id="id_usuario" name="id" value="@Model.id_usuario" />


    <label for="correo">CURP:</label>
    <input type="email" id="curp" name="correo" value="@Model.curp"><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" value="@Model.contrasena"><br><br>


    <label for="rol">Rol:</label>
    <select id="rol" name="rol">
        @if(Model.rol == "Admin"){
        <option value="admin" selected>admin</option>
        <option value="usuario" >usuario</option>
        }else{
            <option value="admin" >admin</option>
        <option value="usuario" selected>usuario</option>
        }
    </select><br><br>

    <input type="submit" value="Guardar cambios">
</form>
