@using Usuario.Models
@model AlmacenViewModel

<h2>Editar almacen</h2>

<form asp-controller="Usuario" asp-action="EditarAlmacenamiento" method="POST">
    <input type="hidden" asp-for="id_almacen" />

    <div class="form-group">
        <label for="almacen_tipo_sangre">Tipo de Sangre:</label>
        <input type="text" id="almacen_tipo_sangre" name="almacen_tipo_sangre" asp-for="almacen_tipo_sangre" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" asp-for="cantidad" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="fecha_expiracion">Fecha de Expiración:</label>
        <input type="text" id="fecha_expiracion" name="fecha_expiracion" asp-for="fecha_expiracion" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
</form>
