@using Usuario.Models
@model UsuarioViewModel
@{ string correo =  Context.Request.Cookies["UsuarioCookie"];
if(correo!=""){
    <h2>
      @correo
    </h2>
}
}
<form asp-controller="Usuario" asp-action="Login" method="post">
    <label for="correo">@ViewData["cookie"]</label>
    <input type="text" id="correo" name="correo" required><br><br>

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" required><br><br>

    <input type="submit" value="Iniciar sesión">
</form>