@using Usuario.Models
@model UsuarioViewModel

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <!-- Agregar los enlaces a Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Registro de cita</h1>
        <form asp-controller="Banco" asp-action="RegistroDonacion" method="post">
          <div class="form-group">
            <label for="fecha_cita">Fecha de cita:</label>
            <input type="datetime-local" id="fecha_cita" name="fecha_cita" class="form-control" required>
          </div>

          <label for="lugar_cita">lugar de donacion:</label>
                <select class="form-control" id="lugar_cita" name="lugar_cita" required>
                    <option value="Hospital General">Hospital General</option>
                    <option value="Hospital Metropolitano">Hospital Metropolitano</option>
                     <option value="Hospital Universitario">Hospital Universitario</option>
                      <option value="Hospital San Lucas">Hospital San Lucas</option>
                       <option value="Hospital Santa María">Hospital Santa María</option>
                        <option value="Hospital San José">Hospital San José</option>
                         <option value="Hospital Nacional">Hospital Nacional</option>
                          <option value="Hospital A">Hospital A</option>
                           <option value="Hospital B">Hospital B</option>
                            <option value="Hospital C">Hospital C</option>
                             <option value="Hospital la Raza">Hospital la Raza</option>
                              <option value="Hospital Hospital General de Zona 24">Hospital Hospital General de Zona 24</option>
                </select>
           <div class="form-group">
            <label for="lugar_cita">¿tienes seguro?:</label>
            <input type="text" id="#" name="lugar_cita" class="form-control" required>
          </div>
           <div class="form-group">
            <label for="lugar_cita">¿tienes alguna enfermedad cronica?:</label>
            <input type="text" id="#" name="lugar_cita" class="form-control" required>
          </div>
           <div class="form-group">
            <label for="lugar_cita">¿estas tomando algun medicamento actualmente?:</label>
            <input type="text" id="#" name="lugar_cita" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="lugar_cita"> ¿has tenido tatuajes , piercings o acupuntura en los ultimos meses?:</label>
            <input type="text" id="#" name="lugar_cita" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="lugar_cita">¿has tenido alguna cirugia o procedimiento dental en los ultimos meses?:</label>
            <input type="text" id="#" name="lugar_cita" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Agregar los enlaces a los scripts de Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
